*{
    margin: 0;
    box-sizing: border-box;
 } 
 /** {
  border: 1px solid red;
}  */

body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo */
  .nav img:first-child {
    height: 30px;
  }

  .nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 10;
    flex-grow: 1;
    justify-content: flex-start;
  }
  
  .nav-menu-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  
  .nav-menu-link:hover {
    color: #0077c2;
  }

  .login {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .login a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  
  .search input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }