*{
    margin: 0;
    box-sizing: border-box;
 } 
 /** {
  border: 1px solid red;
}  */

body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo */
  .nav img:first-child {
    height: 30px;
  }

  .nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 10;
    flex-grow: 1;
    justify-content: flex-start;
  }
  
  .nav-menu-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  
  .nav-menu-link:hover {
    color: #0077c2;
  }

  .login {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .login a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  
  .search input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
/* section1 */
.section1 {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 80px; 
  box-sizing: border-box;
}


.fondo_section1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right; 
  z-index: 1;
}

.imgSection1 {
  width: 35%; 
}


.contenido_section1 {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  color: white;
  padding: 0 20px;
}

.h3_section1 {
  font-size: 10px;
  color: #f0f0f0;
  margin-left: 45px;
}

.button_section1 {
  background-color: transparent;
  color: white;
  border: 1px solid;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-left: 80px;
  width: 180px;
  text-align: center;
}

.button_section1:hover {
  background-color: #ff4000;
  border: none;
}